.index {
  padding-inline-start: calc(var(--size-8) + var(--size-2));
  border-start-end-radius: var(--radius-3);
  border-end-end-radius: var(--radius-3);
  cursor: pointer;
}

.index:hover {
  background-color: var(--surface-2);
}

.index[data-active-index="true"] {
  background-color: var(--surface-4);
}
