.object-store {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-2);
  padding-inline-start: var(--size-8);
  border-start-end-radius: var(--radius-3);
  border-end-end-radius: var(--radius-3);
  cursor: pointer;
}

.object-store:hover {
  background-color: var(--surface-2);
}

.object-store:focus-visible {
  outline-offset: 2px;
  transition-duration: 50ms;
}

.object-store[aria-selected="true"] {
  background-color: var(--surface-4);
}

.object-store-icon {
  inline-size: var(--size-3);
  block-size: auto;
}
