.main-content {
  padding: var(--size-2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--size-2);
}

.main-content > :not(:first-child) {
  align-self: stretch;
}

.main-content > :last-child {
  flex-grow: 1;
}

.no-active-store,
.no-databases {
  text-align: center;
  text-wrap: balance;
  display: grid;
  place-items: center;
  font-size: var(--font-size-4);
}

.error {
  color: var(--error-color);
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header > button {
  flex-shrink: 0;
}
