.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-icon {
  flex-shrink: 0;
}

.sidebar-icon svg {
  inline-size: var(--size-4);
  block-size: auto;
}

.no-databases {
  margin-inline-start: var(--size-1);
  text-wrap: nowrap;
}

.error {
  margin-inline-start: var(--size-1);
  color: var(--error-color);
  text-wrap: nowrap;
}
