.sidebar {
  --sidebar-inline-size: 200px;

  inline-size: var(--sidebar-inline-size);
  padding-block: var(--size-2);
  border-inline-end: var(--border-size-2) solid var(--surface-2);
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .sidebar {
    transition: all 100ms var(--ease-1);
  }
}

.sidebar.closed {
  inline-size: 0;
  border-inline-end: none;
}
