@media (prefers-reduced-motion: no-preference) {
  .triangle {
    transition: transform 100ms var(--ease-1);
  }
}

.down {
  transform: rotate(90deg);
}

.left {
  transform: rotate(180deg);
}

.up {
  transform: rotate(270deg);
}
