.dialog {
  max-inline-size: min(calc(100% - var(--size-3)), 800px);

  .hint {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0 var(--size-1);
    padding-inline-start: 0.75rem;
    font-size: 0.9rem;
  }

  .error {
    margin-inline-start: var(--size-2);
  }
}
