.disclosure {
  background-color: var(--surface-3);
  border-radius: var(--radius-2);
}

.disclosure > button {
  inline-size: 100%;
  background-color: var(--surface-3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-1);
}

.disclosure > button[aria-expanded="true"] {
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

.disclosure > button:not([disabled]):hover {
  background-color: var(--surface-4);
}

.disclosure > button > svg {
  inline-size: var(--size-3);
  block-size: auto;
}

.content {
  padding: var(--size-2);
}

.disclosure > button[aria-expanded="false"] + .content {
  display: none;
}

.content ul {
  padding-inline: var(--size-4);
  list-style: disc;
}

.content code {
  font-size: var(--font-size-0);
}
