.popover {
  inset: auto;
  inset-block-start: calc(anchor(bottom) + var(--size-1));
  /* stylelint-disable-next-line declaration-property-value-no-unknown */
  inset-inline-end: anchor(right);
  min-inline-size: var(--size-14);
  max-inline-size: var(--size-15);
  min-block-size: var(--size-12);
  max-block-size: var(--size-13);
  overflow-block: auto;
  padding: var(--size-1) var(--size-2);
  background-color: var(--surface-2);
  border: var(--border-size-1) solid var(--surface-3);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
}

.centered-message {
  display: grid;
  place-items: center;
}

.error {
  color: var(--error-color);
}
