.columns-config {
  margin-block-end: var(--size-2);
}

.columns-config table {
  inline-size: 100%;
  margin-block-end: var(--size-2);
}

.columns-config th,
.columns-config td {
  text-align: start;
}

.columns-config .no-columns {
  text-align: center;
}

.column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-2);
}

.key-icon svg {
  inline-size: var(--size-3);
  block-size: auto;
}

.column-name {
  max-inline-size: var(--size-13);
}
