.datatype {
  /* stylelint-disable-next-line declaration-property-value-no-unknown */
  appearance: base-select;
  inline-size: 100%;
  background-color: var(--surface-1);
  padding-inline: var(--size-2);
  border: var(--border-size-1) solid var(--surface-2);

  tr:hover & {
    background-color: var(--surface-3);
  }

  &::picker(select) {
    /* stylelint-disable-next-line declaration-property-value-no-unknown */
    appearance: base-select;
    min-inline-size: var(--size-11);
    /* stylelint-disable-next-line declaration-property-value-no-unknown */
    inset-inline-end: anchor(end);
    border-radius: var(--radius-2);
    border: var(--border-size-1) solid var(--surface-4);
    background-color: var(--surface-1);
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
  }
}
