.popover-trigger {
  border: var(--border-size-1) solid var(--surface-3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-1);
}

.popover-trigger.open {
  background-color: var(--surface-2);
}

.popover-trigger svg {
  inline-size: var(--size-3);
  block-size: auto;
  margin-block-start: 1px;
}
