.dialog-trigger {
  padding: var(--size-2);
  border: var(--border-size-1) solid var(--surface-3);
}

.dialog-trigger svg {
  inline-size: var(--size-3);
  block-size: auto;
}

.dialog {
  max-inline-size: min(calc(100% - var(--size-3)), 400px);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-3);
    margin-block-end: var(--size-2);

    button svg {
      inline-size: var(--size-3);
      block-size: auto;
      color: var(--text-2);
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--size-2);
    margin-block-start: var(--size-2);

    button:last-child {
      color: var(--error-color);
      border: var(--border-size-1) solid var(--error-color);

      &:hover {
        background-color: var(--error-bg-color);
      }
    }
  }
}
