.records-count {
  margin-block-end: var(--size-2);
}

.records-count > label {
  display: block;
  margin-block-end: var(--size-1);
}

.records-count > input {
  inline-size: 100%;
  background-color: var(--surface-1);
}

.records-count > small {
  color: var(--text-2);
}
