.table {
  padding-inline: var(--size-2);
  container-type: inline-size;

  @container (max-width: 35rem) {
    /* stylelint-disable selector-pseudo-class-no-unknown */
    :global(.ag-paging-panel) {
      gap: var(--size-3);
    }

    :global(.ag-paging-description > :first-child),
    :global(.ag-picker-field .ag-label) {
      display: none;
    }
    /* stylelint-enable selector-pseudo-class-no-unknown */
  }
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.table :global(.ag-popup-editor) {
  user-select: auto;
}

.table [role="gridcell"] {
  padding-inline: 0;
  user-select: all;
}

.table [role="columnheader"] {
  padding-inline: var(--size-2);
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.table [role="gridcell"]:global(.ag-cell-not-inline-editing)::selection {
  background: transparent;
}

.table-cell {
  position: relative;
  padding-inline: var(--size-2);
  overflow: hidden;
  text-overflow: ellipsis;

  &.uneditable::after {
    --icon-size: 16px;

    position: absolute;
    inset-inline-end: var(--size-2);
    inset-block-start: calc(50% - var(--icon-size) / 2);
    content: "";
    display: inline-block;
    inline-size: var(--icon-size);
    block-size: var(--icon-size);
    opacity: 0.8;
    background-color: currentcolor;
    mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M12%201.5a5.25%205.25%200%200%200-5.25%205.25v3a3%203%200%200%200-3%203v6.75a3%203%200%200%200%203%203h10.5a3%203%200%200%200%203-3v-6.75a3%203%200%200%200-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75%208.25v-3a3.75%203.75%200%201%200-7.5%200v3h7.5Z%22%20clip-rule%3D%22evenodd%22%20%2F%3E%3C%2Fsvg%3E")
      no-repeat center / contain;
  }
}

.blue {
  color: var(--brand);
}

.green {
  color: var(--success-color);
}

.nullish {
  color: var(--text-2);
  font-style: italic;
}

.input-cell-editor {
  /* ensure bigint cell editor has the same styles as the default ag-grid input number  */
  outline: none;
  background-color: var(--ag-input-background-color);
  inline-size: 100%;
  block-size: 100%;
  padding-block: 0;
  padding-inline: var(--ag-input-padding-start) 0;
  line-height: normal;
}

.input-cell-editor::-webkit-outer-spin-button,
.input-cell-editor::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.json-editor {
  position: relative;
  border: var(--ag-cell-editing-border);
  background-color: #fbfbfb;

  @media (prefers-color-scheme: dark) {
    background-color: #011627;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--size-1);
    padding-inline: 0.75rem;
    margin-block-end: var(--size-2);
  }

  .errors {
    font-family: var(--font-mono);
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: 0;
    max-block-size: 100%;
    inline-size: 100%;
    overflow-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--size-1);
    padding: var(--size-2) var(--size-1) var(--size-2) 0.75rem;
    color: var(--error-color);
    backdrop-filter: blur(2px);
    background-color: rgb(251 251 251 / 70%);
    box-shadow: 0 -2px 5px rgb(0 0 0 / 30%);

    @media (prefers-color-scheme: dark) {
      background-color: rgb(1 22 39 / 50%);
      box-shadow: 0 -2px 4px rgb(255 255 255 / 40%);
    }

    .error-msg {
      flex-shrink: 0;
    }

    button {
      margin-block-start: -5px;
      padding: 2px var(--size-2) var(--size-1) var(--size-2);
    }

    &.hidden {
      display: none;
    }
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--size-1);

    button {
      padding-block-start: 2px;

      &:hover {
        background-color: #f3f3f3;

        @media (prefers-color-scheme: dark) {
          background-color: var(--surface-1);
        }
      }

      &.save {
        background-color: #f3f3f3;

        @media (prefers-color-scheme: dark) {
          background-color: var(--surface-1);
        }

        &:hover {
          background-color: var(--surface-3);
        }
      }
    }
  }
}
