.table {
  padding-inline: var(--size-2);
  container-type: inline-size;

  @container (max-width: 35rem) {
    /* stylelint-disable selector-pseudo-class-no-unknown */
    :global(.ag-paging-panel) {
      gap: var(--size-3);
    }

    :global(.ag-paging-description > :first-child),
    :global(.ag-picker-field .ag-label) {
      display: none;
    }
    /* stylelint-enable selector-pseudo-class-no-unknown */
  }
}

.table [role="gridcell"] {
  padding-inline: 0;
  user-select: all;
}

.table [role="columnheader"] {
  padding-inline: var(--size-2);
}

.table [role="gridcell"]::selection {
  background: transparent;
}

.table-cell {
  padding-inline: var(--size-2);
  overflow: hidden;
  text-overflow: ellipsis;
}

.blue {
  color: var(--brand);
}

.nullish {
  color: var(--text-2);
  font-style: italic;
}
