.controls {
  padding-inline: var(--size-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-2);
}

.controls input {
  border: var(--border-size-1) solid var(--surface-3);
}
