.table {
  padding-inline: var(--size-2);
  container-type: inline-size;

  @container (max-width: 35rem) {
    /* stylelint-disable selector-pseudo-class-no-unknown */
    :global(.ag-paging-panel) {
      gap: var(--size-3);
    }

    :global(.ag-paging-description > :first-child),
    :global(.ag-picker-field .ag-label) {
      display: none;
    }
    /* stylelint-enable selector-pseudo-class-no-unknown */
  }
}

.table [role="gridcell"] {
  padding-inline: 0;
  user-select: all;
}

.table [role="columnheader"] {
  padding-inline: var(--size-2);
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.table [role="gridcell"]:global(.ag-cell-not-inline-editing)::selection {
  background: transparent;
}

.table-cell {
  padding-inline: var(--size-2);
  overflow: hidden;
  text-overflow: ellipsis;
}

.blue {
  color: var(--brand);
}

.green {
  color: var(--success-color);
}

.nullish {
  color: var(--text-2);
  font-style: italic;
}

.bigint-cell-editor {
  /* ensure bigint cell editor has the same styles as the default ag-grid input number  */
  outline: none;
  background-color: var(--ag-input-background-color);
  inline-size: 100%;
  block-size: 100%;
  padding-block: 0;
  padding-inline: var(--ag-input-padding-start) 0;
  line-height: normal;
}

.bigint-cell-editor::-webkit-outer-spin-button,
.bigint-cell-editor::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
