/* Button styles are based on open-props button styles */
:where(.btn) {
  --highlight-size: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-2);
  color: var(--surface-1);
  border-radius: var(--radius-2);
  background: var(--brand);
  box-shadow:
    var(--shadow-2),
    0 1px var(--surface-3),
    0 0 0 var(--highlight-size) #adb5bd40;
  padding-block: 0.75ch;
  padding-inline: var(--size-relative-6);
}

@media (prefers-reduced-motion: no-preference) {
  :where(.btn) {
    transition:
      border-color 0.5s var(--ease-3),
      box-shadow 145ms var(--ease-4),
      outline-offset 145ms var(--ease-4);
  }
}

:where(.btn):where(:not(:active):hover) {
  --highlight-size: var(--size-2);

  transition-duration: 0.25s;
}

[disabled]:where(.btn) {
  background-color: var(--brand-2);
  box-shadow: var(--shadow-1);
  cursor: not-allowed;
}
