.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-3);
  margin-block-end: var(--size-2);

  button svg {
    inline-size: var(--size-3);
    block-size: auto;
    color: var(--text-2);
  }
}
