.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header > .sidebar-icon {
  flex-shrink: 0;
}

.sidebar-icon:focus-visible {
  z-index: var(--layer-1);
}

.sidebar-icon svg {
  inline-size: var(--size-4);
  block-size: auto;
}
